
<div class="span9">

	<div class="navbar navbar-fluid-top">
		<div class="navbar-inner">

		</div>
	</div>

	<h1>Pins#index</h1>
	<p>Find me in app/views/pins/index.html.erb</p>
</div>
<div class="span3 fixed">

	<div class="navbar navbar-top">
		<div class="navbar-inner">

		</div>
	</div>

	<h1>Pins#index</h1>
	<p>Find me in app/views/pins/index.html.erb</p>
</div>