<div class="row">
	<div class="px-c-panel">

		<div class="navbar-top">
			<div class="navbar-inner">

			</div>
		</div>
		<div class="panel-inner">
			<h1>Pins#index</h1>
			<p>Find me in app/views/pins/index.html.erb</p>
			<%= render "form" %>




		</div>



	</div>
	<div class="px-r-panel">

		<div class="navbar-top">
			<div class="navbar-inner">

			</div>
		</div>
		<div class="panel-inner">

			<h1>Pins#index</h1>
			<p>Find me in app/views/pins/index.html.erb</p>
			<h1>Pins#index</h1>
			<p>Find me in app/views/pins/index.html.erb</p>
			<h1>Pins#index</h1>
			<p>Find me in app/views/pins/index.html.erb</p>
			<h1>Pins#index</h1>
			<p>Find me in app/views/pins/index.html.erb</p>
			<h1>Pins#index</h1>


		</div>

	</div>

</div><!--/span-->
