/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
  *= require jquery.ui.all
 */

 .px-container{
 	position: fixed;
 	top:  50px;
 	bottom: 50px;
 	width: 100%;
 	overflow: auto;
 }

 .px-r-panel{
 	width: 298px;
 	border-left: 2px solid #333333;
 	position: absolute;
 	height: 100%;
 	right: 0px;
 }

 .px-c-panel{
 	position: absolute;
 	right: 300px;
 	height: 100%;
 	left: 0px
 }

 .panel-inner{
 	position: absolute;
 	top: 50px;
 	bottom: 0px;
 	width: 100%;
 	overflow: auto;
 }
 .pi-have-nb{
 	bottom: 52px
 }

 .panel-navbar{
 	overflow: auto;
 }
 .panel-navbar-bottom{
 	position: absolute;
 	bottom: 0px;
 	width: 100%
 }
 #px-navbar-bottom{
 	margin-bottom: 0px;
 }
 #element-settings-cl{
 	padding: 4px;
 	overflow-x:hidden;
 }

 #new_pin fieldset{
 	position: absolute;
 }
.px-eltext-field{

}
#pin_creator_area{
	width: 600px;
	height: 800px;
	border: 2px solid #333333;
	background-image:url('px-m.png');
	background-repeat:repeat;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	z-index: 0;
}

.px-el-remove{
	position: absolute;
	right: -30px;
	visibility: hidden;
}
.px-editable-tarea{
	/*min-height: 100px;*/
	min-width: 100px;
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3;
}

fieldset{
	z-index: 1;
	position: absolute;
}

.px-resizable-el{

}
.hidden_2{
	display: none;
}

#element-settings-cl fieldset{
	position: relative;
}

 /* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
